@charset "utf-8";
html,body,h1,h2,h3,h4,h5,h6,p,form,img,legend,ul,ol,li,dl,dt,dd,table,tr,td,input{
	margin: 0;
	padding: 0;
}
ul,ol,li{
	list-style: none;
}
img{
	border:0;
}
b,strong,i,em,h1,h2,h3,h4,h5,h6{
	font-weight: normal;
	font-style: normal;
}
body{
	background: #fff;
	font-size: 16px;
}
a{
	text-decoration: none;
	color: #000;
}
.clear:after{
	content:"";
	display: block;
	clear: both;
	height: 0;
	overflow: hidden;
	visibility: hidden;
}

#er{
	width: 110px;
	height: 140px;
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: 14px;
	position: fixed;
	top:60px;
	left: 1070px;
	display: none;
	background-color: white;
	box-shadow: 1px 1px 3px 2px rgb(187, 186, 186);
}
#er div:nth-child(2) img{
    width: 100px;
	height: 110px;
}

a:hover{
	text-decoration: none;
	color: rgb(194, 193, 193);
}